@import 'tailwindcss';

@theme {
  --color-background: #171717;
  --color-foreground: hsl(0 0% 98%);
  --color-card: hsl(240 10% 3.9%);
  --color-card-foreground: hsl(0 0% 98%);
  --color-popover: hsl(240 10% 3.9%);
  --color-popover-foreground: hsl(0 0% 98%);
  --color-primary: hsl(0 0% 98%);
  --color-primary-foreground: hsl(240 5.9% 10%);
  --color-secondary: hsl(240 3.7% 15.9%);
  --color-secondary-foreground: hsl(0 0% 98%);
  --color-muted: #1c1c1c;
  --color-muted-foreground: hsl(240 5% 64.9%);
  --color-accent: hsl(240 3.7% 15.9%);
  --color-accent-foreground: hsl(0 0% 98%);
  --color-destructive: hsl(0 62.8% 30.6%);
  --color-destructive-foreground: hsl(0 0% 98%);
  --color-border: hsl(240 3.7% 15.9%);
  --color-input: hsl(240 3.7% 15.9%);
  --color-ring: hsl(240 4.9% 83.9%);

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  @keyframes accordion-down {
    from {
      height: 0;
    }

    to {
      height: var(--radix-accordion-content-height);
    }
  }

  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }

    to {
      height: '0';
    }
  }
}

* {
  border-color: hsl(240 3.7% 15.9%);
}

button {
  cursor: pointer;
}

.radix-themes {
  --default-font-family: var(--font-inter);
  --heading-font-size-adjust: 1.1;
  --heading-line-height-4: 30px;
  --heading-letter-spacing: 0.005em;
  --font-size-1: 14px;
  --line-height-1: 22px;
  --font-size-2: 15px;
  --line-height-2: 30px;
  --base-card-surface-box-shadow: 0 0 0 1px rgb(41, 41, 41);
}
